body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.profile_inner .social-icons {
  margin-top: 2rem;
}

.profile_inner span p {
  width: 80%;
  margin: 0 auto;
}

.profile_inner span p:nth-child(1) {
  margin-bottom: 1rem;
}

.post-content h1 {
  margin: 40px auto 10px;
  font-size: 40px;
}